* {
  margin : 0;
  padding: 0;
}

.p5Canvas {
  position   : fixed;
  z-index    : -1;
  right      : 0;
  left       : 0;
  top        : 0;
  bottom     : 0;
  height     : 100vh;
  width      : 100vw;
  /* opacity : 0.4; */
}

.heading {
  font-family  : 'Orbitron', serif;
  text-align   : center;
  z-index      : 1000;
  color        : #e0a7e0;
  margin-top   : 3%;
  margin-bottom: 2%;
  font-size    : 3rem;
}

.cam {
  /* display: inline; */
  text-align      : center;
  margin          : auto;
  height          : 480px;
  /* object-fit   : contain; */
  width           : 640px;
  background-color: white;
}
